@using EFApplication.Models
@{
    ViewData["Title"] = "Home Page";
}

<div  style="justify-content:center; display:flex">
    <h2 >Employee Details</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Employee Name</th>
                    <th>Salary</th>
                    <th>Department</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr >
                    <td style="color:crimson">
                        @item.empid
                    </td>
                    <td style="color:crimson">
                        @item.empname
                    </td>
                    <td style="color:crimson">
                        @item.salary
                    </td>
                    <td style="color:crimson">
                        @item.department
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
